{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link color-1" href="{% url 'post_new' %}"><i class="fas fa-pencil-alt"></i> Nowy wpis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link color-1" href="#"><i class="fas fa-book"></i> Moje wpisy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link color-1" href="#"><i class="fas fa-heart"></i> Ulubione wpisy</a>
  </li>
</ul>
{% endif %}
    <section class="blog-background pt-5 pb-5">
        <div class="container">
            {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-xs-12 text-center">
                                <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="Avatar">
                                <p class="pt-2 text-muted text-center">{{ post.author }}</p>
                                <span class="">Liczba wpisów: 121</span>
                            </div>
                            <div class="col-lg-10 col-xs-12">
                                <h5 class="font-weight-bold"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                                <span class="text-muted font-weight-light font-italic"><small>Data publikacji: {{ post.created_date }}</small></span>
                                <p class="text-muted font-weight-light font-italic"><small>Data ostatniej modyfikacji: {{ post.published_date }}</small></p>
                                <p class="">{{ post.text|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}