{% load static %}
<section class="bg-footer pt-5">
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <h6 class="text-white">Społeczność</h6>
                <li><a href="{% url 'analizy_list' %}" class="text-muted">Analizy</a></li>
                <li><a href="{% url 'post_list' %}" class="text-muted">Blog</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Brokerzy</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Platformy tradingowe</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Dyskusja</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Pomysły</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <h6 class="text-white">Współpraca</h6>
                <li><a href="{% url 'faq' %}" class="text-muted">Reklama</a></li>
                <li><a href="{% url 'post_list' %}" class="text-muted">Edukacja</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Brokerzy</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Kontakt</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <h6 class="text-white">Wsparcie</h6>
                <li><a href="{% url 'faq' %}" class="text-muted">Często zadawane pytania</a></li>
                <li><a href="{% url 'post_list' %}" class="text-muted">Status strony</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Kontakt</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Dotacje</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <h6 class="text-white">O portalu</h6>
                <li><a href="{% url 'faq' %}" class="text-muted">Jak to działa</a></li>
                <li><a href="{% url 'faq' %}" class="text-muted">Wiadomości i aktualizacje</a></li>
                <li><a href="{% url 'faq' %}" class="text-muted">Changelog</a></li>
                <li><a href="{% url 'faq' %}" class="text-muted">Ostrzeżenie o ryzyku</a></li>
                <li><a href="{% url 'post_list' %}" class="text-muted">Warunki użytkowania</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Polityka prywatności</a></li>
                <li><a href="{% url 'brokers_list' %}" class="text-muted">Polityka cookies</a></li>
            </ul>
        </div>
    </div>
</div>
</section>
<section class="dark-bg-footer pt-2 pb-2">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/python.png' %}" class="img-fluid" style="height: 2rem;">
                <img src="{% static 'img/django.png' %}" class="img-fluid" style="height: 2rem;">
            </div>
            <div class="col">
                <a href="" class="color-2 mr-2"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="" class="color-2"><i class="fab fa-telegram fa-2x"></i></a>
            </div>
            <div class="col">
                <img src="{% static 'img/cloudflare.png' %}" class="img-fluid" style="height: 2rem;">
                <img src="{% static 'img/badge_ondark.png' %}" class="img-fluid" style="height: 2rem;">
            </div>
        </div>
    </div>
</section>
<section class="bg-footer pt-3">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <p class="text-muted">Wszystkie prawa zastrzeżone SocialFX.io 2018.</p>
            </div>
            <div class="col">
                <p class="text-muted">For love of programming and financial markets <i class="fas fa-heart" style="color: red;"></i></p>
            </div>
            <div class="col">
                <a href="bitcoin:1EtPGtCg1QFaFfUN1Jz7bqQvmCdBuWScWn" class="text-muted">1EtPGtCg1QFaFfUN1Jz7bqQvmCdBuWScWn</a>
            </div>
        </div>
    </div>
</section>